<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.erostagramu.api.mapper.ApiMapper">
	<resultMap id="movieResult" type="jp.erostagramu.api.dto.MovieDto">
		<result column="id" property="id" />
		<result column="no" property="no" />
		<result column="thumbnail_url" property="thumbnailUrl" />
		<result column="title" property="title" />
		<result column="category_id_01" property="categoryId01" />
		<result column="category_id_02" property="categoryId02" />
		<result column="category_id_03" property="categoryId03" />
		<result column="category_id_04" property="categoryId04" />
		<result column="category_id_05" property="categoryId05" />
		<result column="resource_id" property="resourceId" />
		<result column="sys_create_date" property="sysCreateDate" />
		<result column="sys_update_date" property="sysUpdateDate" />
	</resultMap>

	<insert id="create" parameterType="jp.erostagramu.api.dto.MovieDto"
		useGeneratedKeys="true" keyProperty="no">
		insert into i_movies
		(id,thumbnail_url,title,category_id_01,category_id_02,category_id_03,category_id_04,category_id_05,resource_id)
		values
		(#{id},#{thumbnailUrl},#{title},#{categoryId01},#{categoryId02},#{categoryId03},#{categoryId04},#{categoryId05},#{resourceId})
	</insert>

	<select id="readTitleById" resultMap="movieResult" parameterType="Integer">
		select title
		from i_movies
		where id = #{id}
	</select>
</mapper>